<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447423810440-bk905llt9r308loug162c04tibtfqgh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447423810440-bk905llt9r308loug162c04tibtfqgh0</string>
	<key>API_KEY</key>
	<string>AIzaSyCr7qPcmc3dOO4NhYgelAvrL_LbHfRVoCE</string>
	<key>GCM_SENDER_ID</key>
	<string>447423810440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digis01.MRangelEcommerce</string>
	<key>PROJECT_ID</key>
	<string>mrangelecommerce</string>
	<key>STORAGE_BUCKET</key>
	<string>mrangelecommerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447423810440:ios:bc83f260d63827bc8ac83d</string>
</dict>
</plist>